body {
    padding-bottom: 10%;
}

.content {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    background-color: #444;
    width: 60%;
    margin: 20%;
    margin-bottom: 0%;
    margin-top: 5%;
    border-radius: 25px;
    cursor: default;
}

.content > p {
    text-align: justify;
    margin-left: 55px;
    margin-right: 55px;
    padding-bottom: 55px;
    padding-top: 55px;
    cursor: default;
}

.navbar  ul  li:nth-child(5) a {
    color: #88f;
    font-weight: bold;
}

#first {
    padding-bottom: 0px;
}

#second{
    padding-top: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

#CTA {
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: underline;
    cursor: pointer
}

#CTA:hover{
    color: #4444DD;
}

#CTA:last-child {
    padding-bottom: 55px;
}